<!DOCTYPE html>
<html lang="en">

<!--include header.html -->
{% include header.html %}
<!--include header.html DONE -->

<body>
    <!--include navbar.html -->
    {% include navbar.html %}
    <!--include navbar.html DONE -->

    <!-- add content -->
    {{ content }}
    <!-- add content DONE -->

    <!--include footer.html -->
    {% include footer.html %}
    <!--include footer.html DONE -->

    <!--include scripts.html -->
    {% include scripts.html %}
    <!--include scripts.html DONE -->
</body>

</html>